
.nav{
    display: grid;
    justify-content:center;
    overflow: hidden;
    padding-top: 1vh;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.193);;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px); /* Apply the glass effect */
    border-radius: 10px;
    z-index: 5;
    padding-bottom: 1vh;
    font-size: 18px;
    margin-left: 20%;
    margin-top: 10px;
}

.elements{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
a:link{
    text-decoration: none;
    margin-right: 6vh;
    padding: 3px;
    
}
.comp {
    color: white;
    font-weight:400;
    width: 30%;
}
.toggicon{
    display: none;
}


/* Responsive media */

@media (max-width:699px) {
    .elements{
        display: none;
    }
    .nav{
        z-index: 6;
    }
    .toggicon{
        display: block;
        background-color:wheat ;
        position:absolute;
        margin-top: 5cm;
        z-index: 7;
    }
    
}

@media (max-width:1050px) {
    .elements{
        margin-right: -3vh;
    }
}


