.footer {
    background-color: #33333332;
    color: #fff;
    padding-top: 20px;
    margin-top: 10vh;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Updated for responsiveness */
    justify-content: center;
    max-width: 100%;
    margin: 0 auto;
    color: #333;
    gap: 10vw;
}

.footer-copyright {
    font-size: 20px; /* Adjusted font size for better fit on mobile */
    background-color: #333333b7;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

.footer-contact a {
    color: #333;
    text-decoration: none;
    margin-right: 10px;
}

.footer-contact a:hover {
    color: #333;
}

.company {
    width: 90%; /* Adjusted width for better fit on mobile */
    margin: 0 auto; /* Centering on mobile */
}

.insta, .whats, .twit {
    font-size: 18px; /* Adjusted font size for better fit on mobile */
}

.email {
    padding: 5px;
    width: 80%; /* Adjusted width for better fit on mobile */
    margin: 10px auto; /* Centering on mobile */
}

.sendbutt {
    background: #333;
    color: white;
    border: 1px solid #333;
    padding: 5px 10px; /* Adjusted padding for better button size on mobile */
    margin: 10px auto; /* Centering on mobile */
    display: block; /* Ensures full width on mobile */
    border-radius: 2px;
}

/* Media Query for Mobile */
@media only screen and (max-width: 600px) {
    .footer-content {
        grid-template-columns: 1fr; 
        text-align: center;
    }
}
